
dist
node_modules
server
cert.pem
key.pem
package-lock.json
package.json
plugin-manifest.json
app/js/test.js
app/js/form_data.json
app/js/fancyalerts.js
app/js/data.json
app/js/app.js

app.bk
remove_functions_bk.js
dist.bk