:root {
  --blue: #008ff8;
  --lightblue: #7cd1f9;
  --white: #faf0e6;
  --red: #e64942;
  --basecolor: #d6ebfe;
  --zblue: #0078ff;
  --zborder: #4ca2ff;
  --zoho-back: #edf6ff;
  --crm-font-medium: LatoMedium, sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: var(--crm-font-medium);
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
	transition: width 1s ease-out;
}

.h2 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #cccccc;
}

/* container {
  position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
} */


#container {
  position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
}

label input {
  display: none;
}

/* label input:checked + span {
  background-color: var(--basecolor);
} */

/* Zoho Style*/
label input:checked + span {
  /* background-color: var(--basecolor); */
  color: #0078ff !important;
  border: 1px solid #4ca2ff !important;
  background: #edf6ff !important;
  box-shadow: none !important;
}

label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em var(--basecolor);
}

label span {
  display: flex;
  align-items: center;
  margin-bottom: 0.375em;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}

/* label span:hover {
  background-color: var(--basecolor);
} */

/* Zoho Style */
label span:hover {
  /* background-color: var(--basecolor); */
  color: #0078ff !important;
  background: #edf6ff !important;
  box-shadow: none !important;
}

label span:before {
  content: "";
  display: flex;
  flex-shrink: 0;
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em var(--basecolor);
}

/* Fancy alerts */
.swal-footer {
  font-family: var(--crm-font-medium);
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #e9eef1;
  overflow: hidden;
}

/* Buttons */
.buttonHolder {
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.button-ofertas {
  outline: none !important;
  display: inline-block;
  width: auto !important;
  color: #0078ff !important;
  border: 1px solid #4ca2ff !important;
  background: #edf6ff !important;
  box-shadow: none !important;
  padding: 3px 15px 4px !important;
  font-size: 1.3rem !important;
  border-radius: 4px !important;
  line-height: normal !important;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#button-ofertas {
  outline: none !important;
  display: inline-block;
  width: auto !important;
  color: #0078ff !important;
  border: 1px solid #4ca2ff !important;
  background: #edf6ff !important;
  box-shadow: none !important;
  padding: 3px 15px 4px !important;
  font-size: 1.3rem !important;
  border-radius: 4px !important;
  line-height: normal !important;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button-send {
  outline: none !important;
  display: inline-block;
  width: auto !important;
  color: #0078ff !important;
  border: 1px solid #4ca2ff !important;
  background: #edf6ff !important;
  box-shadow: none !important;
  padding: 3px 15px 4px !important;
  font-size: 1.3rem !important;
  border-radius: 4px !important;
  line-height: normal !important;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button-back {
  outline: none !important;
  display: inline-block;
  width: auto !important;
  color: #0078ff !important;
  border: 1px solid #4ca2ff !important;
  background: #edf6ff !important;
  box-shadow: none !important;
  padding: 3px 15px 4px !important;
  font-size: 1.3rem !important;
  border-radius: 4px !important;
  line-height: normal !important;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button-init {
  outline: none !important;
  display: inline-block;
  width: auto !important;
  color: #0078ff !important;
  border: 1px solid #4ca2ff !important;
  background: #edf6ff !important;
  box-shadow: none !important;
  padding: 3px 15px 4px !important;
  font-size: 1.3rem !important;
  border-radius: 4px !important;
  line-height: normal !important;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
